p {
  color:green;
  font-size: 20px;
  text-align: center;
}

#special {
  color:#66aaff;
  font-family:Arial;
  text-align: center;
  font-size: 40px;
}

#sakura {
  color: #ffc0cb;
  font-family:Arial;
  text-align:left;
  font-size: 26px

}

#lake {
  color: #66cccc;
  font-family:Arial;
  align-items: center;
  font-size: 30px;
}

#staygold {
  color: #f4b342;
  font-family:cursive; Arial;
  font-size: 18px;
  text-align: center;
}

#overall {
  color: #c6b3ff;
  font-family:cursive; Arial;
  font-size: 36px;
  text-align: center;
  text-decoration: underline;
}

#salmon {
  color: #ff8742;
  font-family: fantasy;
  font-size: 36px;
  text-align: center;
  text-decoration-style: dotted;
}
div.well {
  background-color:#ffc5c5;
}

button{
  background-color: #66ccff;
  color: #ffffff;
  font-size: 36px;
  font-family: serif;
  align-items: center;
}
